/* Footer*/
footer{
    background-color: rgba(130, 6, 168, 0.842);

    div {
        div h3{
            font-size: 25px;
            color: white;
            margin: 10px 0 0 10px; 
            padding: 10px;
        }
        div div a{
            margin: 10px 10px 0 0;
        }
        div ul li {
            display: block ;
            margin: 0 5px 5px 15px;
            a{
                font-size: 22px;
                color: white;
                text-align: right;

            }
        }
    }
}
.container__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.pie2{
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 10px;
    padding: 20px;
}
.container_jueves{
    align-items: flex-start;
    text-align: left;
}

